#company-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
}

.footer-text {
	color: white;
	font-weight: bold;
	opacity: 0.8;
	font-family: 'Ubuntu Sans', sans-serif;
	max-width: 450px;
	margin-bottom: 0;
	font-size: 16px;
}

#socials {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0;
}

.social-link {
	color: white;
	font-weight: bold;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	transition: all 300ms ease;
	/* add paragraph element (p) margins to Link (a) components: */
	margin-block-start: 1em;
	margin-block-end: 1em;
}

.social-link:hover {
	opacity: 0.7;
}

#newsletter-signup {
	border: none;
	outline: none;
	width: 20%;
	padding: 8px;
	font-weight: bold;
	font-family: 'Jersey 25', sans-serif;
	font-size: 100%;
	cursor: pointer;
	transition: all 300ms ease;
	border-radius: 15px;
}

#newsletter-signup:hover {
	color: #008080;
}

#newsletter-signup:active {
	background-color: #008080;
	color: white;
	transform: scale(0.9);
}

#company-name {
	background-image: linear-gradient(90deg, #004040, #006060, #008080, #00A0A0, #00C0C0, #004040);
	color: #00000000;
	font-weight: 700 !important;
	-webkit-background-clip: text;
	background-clip: text;
}