:root {
	--font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
	text-decoration: none;
	color: inherit;
}

iframe #header {
	display: none
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: #2B2B2B;
}

::-webkit-scrollbar-thumb {
	background: #F48420;
	border-radius: 10px;
}

input {
	border-color: unset;
}

.MuiSelect-select.MuiSelect-outlined.MuiInputBase-input.MuiOutlinedInput-input {
	font-weight: bold;
	-webkit-text-stroke: 0.25px black;
	font-family: 'Josefin Sans', sans-serif;
}

.MuiList-root.MuiList-padding.MuiMenu-list {
	background-color: #008080;
}

.MuiOutlinedInput-notchedOutline  {
	border-color: transparent !important;
}

.MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-gutters {
	font-weight: bold;
	-webkit-text-stroke: 0.25px black;
	font-family: 'Josefin Sans', sans-serif;
	padding: 6px 30px;
}

.MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-gutters:hover {
	background-color: rgba(0, 0, 0, 0.14);
}

.MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-gutters.Mui-selected {
	background-color: #F48420;
	opacity: 1;
}

.dropdownMenu {
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border-radius: 4px;
	font-size: 16px;
	z-index: 1;
	right: 5%;
}

.dropdownMenu ul {
	list-style: none;
	padding: 5px 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

.dropdownMenu ul li {
	display: block;
	transition: all 300ms ease;
	color: #FFF;
	padding: 4px 16px;
	clear: both;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 24px;
	width: 50%;
	margin: auto;
	border-radius: 15px;
	margin-bottom: 5px;
}

.dropdownMenu ul li:hover {
	background-color: #f1f1f1;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex: 1;
}
