#pfp {
	display: block;
	margin-left: auto;
	background-color: white;
	/* border: 3px solid transparent; */
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0);
	border-radius: 100%;
	transition: all 300ms ease;
	cursor: pointer;
}

#pfp:hover {
	/* border-color: #2090F4; */
	box-shadow: 0 0 0 3px #2090F4;
}

.dropdownMenu {
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border-radius: .25rem;
	font-size: 1rem;
	z-index: 1;
	right: 5%;
}

.dropdownMenu ul {
	list-style: none;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

.dropdownMenu ul li {
	display: block;
	transition: all 300ms ease;
	color: #FFF;
	padding: .25rem 1rem;
	clear: both;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 24px;
}

.dropdownMenu ul li:hover {
	background-color: #f1f1f1;
}